<div class="container custom-container-2">
  <!--show it when there is no Client-->
  <div class="no-data text-center" *ngIf="Client.length == 0">
    <p>Sorry, There is no data found</p>
    <button class="btn btn-outline-primary" routerLink="/create-client">Add Client</button>
  </div>

  <div *ngIf="Client.length!==0">
    <h3 class="mb-3 text-center">Client list</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="hidden">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Age</th>
            <th scope="col">Telephone</th>
            <th scope="col">Action</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let client of Client">
            <td class="hidden">{{client.idClient}}</td>
            <td>{{client.nom_Client}}</td>
            <td>{{client.prenom_Client}}</td>
            <td>{{client.age}}</td>
            <td>{{client.tel}}</td>
            <td>
              <span class="btn btn-info" routerLink="/update-client/{{client.idClient}}">Modifier</span>
              <span class="btn btn-danger" (click)="deleteClient(client.idClient)">Supprimer</span>
              <span class="btn btn-success" routerLink="/commande/{{client.idClient}}">Commander</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>