<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Gestion des commandes</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/create-client">Create Client</a>
    </nav>
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/list-client">Client List</a>
  </div>




  
  
  <router-outlet></router-outlet>