<div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Commander Produit</h3>
  </div>

  <div class="form-group">
    <select name="produit" class="form-control">
      <option *ngFor="let Produit of Produits">{{Produit.nom_Produit}}</option>
    </select>
  </div>
  <div class="form-group">
    <input type="number"  class="form-control" placeholder="Quantite">
  </div>
</div>