<div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Create Client</h3>
<form name="form" [formGroup]="form"  >
    <div class="form-group" >
      <input type="text" [(ngModel)]="clientData.nom_Client" 
      class="form-control" placeholder="Nom" formControlName="nom" 
       [ngClass]="{'is-invalid':form.get('nom').touched && form.get('nom').invalid}" required />
      <div class="invalid-feedback">
        <div> Nom est obligatoire</div>
      </div>
    </div>
    <div class="form-group" >
      <input type="text" [(ngModel)]="clientData.prenom_Client" 
      class="form-control" placeholder="Prenom" formControlName="prenom"
       [ngClass]="{'is-invalid':form.get('prenom').touched && form.get('prenom').invalid}" required />
      <div class="invalid-feedback">
        <div>prenom est obligatoire</div>
      </div>
    </div>

    <div class="form-group" >
      <input type="text" [(ngModel)]="clientData.age"
       class="form-control" placeholder="Age"  formControlName="age" 
       [ngClass]="{'is-invalid':form.get('age').touched && form.get('age').invalid}" required />
       <div *ngIf="form.get('age').touched && form.get('age').invalid"  class="invalid-feedback">
        <div *ngIf="form.get('age').errors.required">age est obligatoire</div>
      <div *ngIf="form.get('age').errors.minlength">
          age must be just 2 Numbers</div>
      <div *ngIf="form.get('age').errors.maxlength">
          age must be just 2 Numbers</div>
</div>
    </div>

    <div class="form-group">
      <input type="number" [(ngModel)]="clientData.tel" 
      class="form-control" placeholder="Telephone"  
      formControlName="telephone" 
      [ngClass]="{'is-invalid':form.get('telephone').touched &&
       form.get('telephone').invalid}" required />
       <div class="invalid-feedback">
          <div>telephone est obligatoire</div>
        </div>

    <div class="form-group" >
      <button  class="btn btn-success btn-lg btn-block" 
       (click)="addClient()" [attr.disabled]="!form.valid ? true : null">Create Client</button>
    </div>
  </div>
</form>
</div>
